<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login </title>
    
    
    <link rel="stylesheet" href="css/reset.css">

    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/loginStyle.css') }}"/>

    
  </head>

  <body>

    <div class="wrap">
		<div class="avatar">
      <img src="{{ url_for('static', filename='img/bioSeedDatabaseLogo.png') }}" alt ="BioSeedLogo" style = "width:60px;height:60px;" ></img>
		</div>
			<form action = "/email" method = "POST">
		<input type="text" name = "email" placeholder="Email" required>
		
        
        
        <button class = "button"> Get login information</button>
		</form>
	</div>
    
        

    
    
    
  </body>
</html>