{% extends "layout.html" %} 
<script type="text/javascript" src="jquery-1.3.2.js" ></script>
<script type="text/javascript" src="html2CSV.js" ></script>

{%block menu %}
    {% if session['role'] == 0 %}
    <li  {% if selectedMenu == "Search" %} class="selected" {% endif %}  >
            <a href="/search">Search</a></li>
          
          <!--<li  {% if selectedMenu == "modifySeed" %} class="selected" {% endif %}  >-->
          <!--  <a href="/modifySeed">Modify Seed Stock</a></li>-->
            
          <li  {% if selectedMenu == "add" %} class="selected" {% endif %}  >
            <a href="/add">Add Seed Stock</a></li>
          
          
          <li  {% if selectedMenu == "Users" %} class="selected" {% endif %}  >
            <a href="/users">Users</a></li>
            
            <li  {% if selectedMenu == "Setting" %} class="selected" {% endif %}  >
            <a href="/userSetting" >{{ session['username'] }} - Settings</a></li>
          
          <li  {% if selectedMenu == "Home" %} class="selected" {% endif %}  >
            <a href="/logout">Logout</a></li>
    {%elif session['role'] == 1%}
        <li  {% if selectedMenu == "Search" %} class="selected" {% endif %}  >
            <a href="/search">Search</a></li>
          
          <!--<li  {% if selectedMenu == "modifySeed" %} class="selected" {% endif %}  >-->
          <!--  <a href="/modifySeed">Modify Seed Stock</a></li>-->
            
          <li  {% if selectedMenu == "add" %} class="selected" {% endif %}  >
            <a href="/add">Add Seed Stock</a></li>
            
            <li  {% if selectedMenu == "Setting" %} class="selected" {% endif %}  >
            <a href="/userSetting" >{{ session['username'] }} - Settings</a></li>
          
          <li  {% if selectedMenu == "Home" %} class="selected" {% endif %}  >
            <a href="/logout">Logout</a></li>
    {%else %}
    <li  {% if selectedMenu == "Search" %} class="selected" {% endif %}  >
            <a href="/search">Search</a></li>
          
          <li  {% if selectedMenu == "Setting" %} class="selected" {% endif %}  >
            <a href="/userSetting" >{{ session['username'] }} - Settings</a></li>
          
          <li  {% if selectedMenu == "Home" %} class="selected" {% endif %}  >
            <a href="/logout" >Logout</a></li>
    {%endif%}
    {%endblock%}


{% block content %}

<h1>Modify User</h1>
<form method="POST" action="/updateUserToDB">

	
	<table>
		<tr>
			<td>Username:</td>
			<td>
				
				<input readonly type="text" id="username" name="username" value = "{{userId[0]}}"/>
			</td>
		</tr>
		<tr>
			<td>Email:</td>
			<td>
				<input type="text" id="email" name="email" value = "{{userId[4]}}"/>
			</td>
		</tr>
		<tr>
			<td>Password:</td>
			<td>
				<input type="text" id="password" name="password" value = "{{userId[1]}}" />
			</td>
		</tr>
		<tr>
			<td>Account Level: 
				<td>
					
					<select name="accountLevel" id="accountLevel">
						{% if userId[3] == 2 %}
						<option value="Basic" selected>Basic</option>
						<option value="Priviledged">Priviledged</option>
						<option vaule="Admin">Admin</option>
						{% elif userId[3] == 1 %}
						<option value="Basic">Basic</option>
						<option value="Priviledged" selected>Priviledged</option>
						<option vaule="Admin">Admin</option>
						{% else %}
						<option value="Basic" >Basic</option>
						<option value="Priviledged">Priviledged</option>
						<option vaule="Admin" selected>Admin</option>
						{% endif %}
					</select>
				
				</td>
		</tr>
		<tr>
			<td>Active User:
				<td> 
					{% if userId[2] == 1 %}
					<input type="radio" name="active" value="active" checked>  Active
					<br>
					<input type="radio" name="active" value="notActive"> Not Active
					{% else %} 
					<input type="radio" name="active" value="active" >  Active
					<br>
					<input type="radio" name="active" value="notActive" checked> Not Active 
					{%endif%}
				</td>
			</td>
		</tr>


		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="submit" value="Modify User" />
			</td>
		</tr>
	</table>


</form>

{% endblock %}