<select id="searchOptions">
    <option value="All" selected="selected">All</option>
    <option value="Stock ID">Stock ID</option>
    <option value="Cross ID">Cross ID</option>
    <option value="Genotype">Genotype</option>
    <option value="Generation">Generation</option>
    <option value="Female Parent">Female Parent</option>
    <option value="Male Parent">Male Parent</option>
    <option value="Date Collected">Date Collected</option>
    <option value="Location">Location</option>
    <option value="Contributor ID">Contributor ID</option>
    <option value="Antibiotic Resistance">Antibiotic Resistance</option>
    <option value="Oligo 1">Oligo 1</option>
    <option value="Notes">Notes</option>
</select>