{% extends "layout.html" %}

{% block content %}
<h1>Abduction List</h1>


{% for abductee in abductees %}
<table>
<tr><td>Name</td><td>{{ abductee.firstname }} {{ abductee.lastname }}</td></tr>
<tr><td>Date</td><td>{{ abductee.day }} {{ abductee.month }} {{ abductee.year }}</td></tr>
<tr><td>Location</td><td>{{ abductee.city }} {{ abductee.state }}</td></tr>
<tr><td>Scary Level</td><td>{{ abductee.scary }}</td></tr>
<tr><td>Characteristics</td><td><ul>
    {% for characteristic in abductee[9] %}
    <li>{{characteristic[1]}}</li>
    {% endfor %}
</ul></td></tr>
</table>
{% endfor %}
{% endblock %}